@import url('https://fonts.googleapis.com/css?family=Ubuntu');

/* color scheme:

Non-colors::
  #000 black
  #757575 gray
  #fff white

Colors (in loose order of preference)::
  #018571 turquoise     – primary highlight
  #077cc0 blue          – secondary highlight
  #008837 green         – positive
  #c65301 orange/brown  – negative
  #eb0027 red           – drastic highlight

*/

body {
  height: 100%;
  min-height: 0;
  width: 100%;
  min-width: 0;
  margin: 0;
  padding: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
}

#slide_container {
  /* thanks to https://stackoverflow.com/a/20593342 */
  position: absolute;
  width: 100vw;
  max-width: 177.78vh; /* 16/9 = 1.778 */
  height: 56.25vw; /* height:width ratio = 9/16 = .5625  */
  max-height: 100vh;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

/* hide previous and next slide displays */
.slide-area,
.slides > article,
.slides > article.next,
.slides > article.past {
  display: none
}

.slides > article {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 0;
  letter-spacing: normal;
  padding: 1em;
}


/* styling defaults */
body,
.slides > article {
  font-family: Ubuntu, sans-serif;
  font-size: 2vw;
  background: #000;
  color: #fff;

  border: 1px solid red;
}

h1, h2, h3, h4, h5, h6  {
  letter-spacing: -.02em;
  font-size: 4vw;
  color: #fff;
  margin-top: 0;
}

h1 {
  font-size: 6vw;
  margin-top: 3em;
  margin-bottom: 1em;
}

h2 {
  font-size: 4vw;
}

h3 {
  font-size: 3vw;
}
