/**
 * styles that define positions and sizes
 *
 * Font sizes for headlines: 3em, 2em, 1.5em
 * Font sizes for content: 1.2em, 1em, .8em, .6em, .4em
 */

html {
  height: 100%;
  overflow: hidden;

  /* This is what all ``rem`` units for positioning are relative to.
   * Changing this basically zooms the page.
   * If you want to change the font size relative to the slide size,
   * set the font size for the body element. */
  font-size: 50px;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body.loaded {
  /* The body tag is made transparent by its style attribute, so we
   * unfortunately need the ``!important`` here.
   * On DOM load, JavaScript adds the class ``loaded`` to the body.
   */
  opacity: 1 !important;
}

input, button {
  vertical-align: middle;
}

slides > slide[hidden] {
  display: none !important;
}

slides {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

slides > slide {
  display: none;
  opacity: 0;
  position: absolute;
  box-sizing: border-box;
  left: 50%;
  top: 50%;

  /* 16:9 aspect ratio */
  width: 40rem;
  height: 22.5rem;
  margin-left: -20rem;
  margin-top: -11.25rem;

  padding: .5rem 1rem;
  overflow: hidden;
}

slides > slide.past,
slides > slide.next,
slides > slide.current {
  display: block;
}

slides > slide.current {
  opacity: 1;
}

slides > slide:not(.title-slide):after {
  position: absolute;
  bottom: .25em;
  right: .25em;
  font-size: .4em;
}

slides > slide > hgroup + article {
  margin-top: 1em;
}

slides > slide > hgroup + article p {
  margin-bottom: 1em;
}

slides > slide > article:only-child {
  height: 100%;
}

slides > slide > article:only-child > iframe {
  height: 98%;
}

h1, h2, h3 {
  font-weight: bold;
  letter-spacing: -.02em;
}

h1 {
  font-size: 3em;
  line-height: 2;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

pre, code {
  font-size: .5em;
  letter-spacing: -.05em;
}

code {
  font-size: 95%;
  font-family: 'Source Code Pro', 'Courier New', monospace;
  color: black;
}

iframe {
  width: 100%;
  height: 75%; /* Is this a sane value? */
  box-sizing: border-box;
}

dt {
  font-weight: bold;
}


table {
  width: 100%;
  border-collapse: initial;
  border-spacing: .1em;
}

table tr > td:first-child, table th {
  font-weight: bold;
}

table td, table th {
  font-size: .8em;
  padding: 1em 0.5em;
}

q {
  font-size: 1.2em;
  line-height: 1.25em;
}

.quote:before,
 q:before {
  content: '“';
  font-size: 2em;
  position: absolute;
  margin-left: -0.5em;
}

.quote:after,
q:after {
  content: '”';
  font-size: 2em;
  position: absolute;
  margin-left: 0.1em;
}

slide.fill {
  background-repeat: no-repeat;
  background-size: cover;
}

.build .to-build {
  opacity: 0;
}

.build .build-fade {
  opacity: 0.3;
}

.build .build-fade:hover {
  opacity: 1.0;
}

.popup .next .build .to-build {
  opacity: 1;
}

.popup .next .build .build-fade {
  opacity: 1;
}

.note {
  position: absolute;
  z-index: 100;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 1em;
  opacity: 0;
  pointer-events: none;
  display: box !important;
  box-orient: vertical;
  box-align: center;
  box-pack: center;
  box-sizing: border-box;
}

.note > section {
  width: 60%;
  padding: 2em;
}

/* "with-nodes" is the class of the body of the presenter view */

.with-notes.popup slide {
  overflow: visible;
  pointer-events: none;
}

.with-notes.popup slide {
  /* 16:9 aspect ratio */
  top: 0;
  height: 60%;
  width: 33.75%;
}

.with-notes.popup slide.next {
  transform: scale(0.35);
  opacity: 1 !important;
}

.with-notes.popup slide.next .note {
  display: none !important;
}

.with-notes.popup .note {
  top: 65%;
  height: 30%;
  padding: 0;
}

.with-notes.popup .note > section {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  overflow: auto;
  padding: 1em;
}

.with-notes .note {
  opacity: 1;
  pointer-events: auto;
}

/* "slide-area" are clickable/tappable areas to move to/from the
 * previous/next slide */

.slide-area {
  z-index: 1000;
  position: absolute;
  top: 25%;
  height: 50%;
  width: 20%;
  cursor: pointer;
}

#prev-slide-area {
  left: 0;
}

#next-slide-area {
  right: 0;
}

.overview.popup .note {
  display: none !important;
}

.overview slides slide {
  display: block;
  cursor: pointer;
  opacity: .75;
  pointer-events: auto !important;
}

.overview slides slide.far-past,
.overview slides slide.past,
.overview slides slide.next,
.overview slides slide.far-next {
  opacity: 0.5;
  display: block;
}

.overview slides slide.current {
  opacity: 1;
}

.overview .slide-area {
  display: none;
}

/* WIP marker – above: done, below: to do */

@media print {
  slides slide {
    display: block !important;
    position: relative;
    width: 100%;
    height: 100%;
    page-break-after: always;
    top: auto !important;
    left: auto !important;
    margin-top: 0 !important;
    margin-left: 0 !important;
    opacity: 1 !important;
  }

  slides slide .build > * {
    transition: none;
  }

  slides slide .build .to-build,
  slides slide .build .build-fade {
    opacity: 1;
  }

  slides slide[hidden] {
    display: none !important;
  }

  .slide-area {
    display: none;
  }

  pre, code {
    font-family: monospace !important;
  }
}
