/**
 * This file contains definitions which define positions, sizes, margins
 * and alike.
 *
 * Definitions that you might use in your reStructuredText document
 * can be found at the end of this document.
 *
 * If you want to modify the colors, animations and other eye-candy,
 * please refer to ``theme.css``.
 *
 * Font sizes for headlines: 3em, 2em, 1.5em
 * Font sizes for content: 1em, .8em, .6em, .4em
 */


/* XXX: room for improvement: make more values variables
 * (those which are used multiple times, those which can be calculated,
 * etc.) */
:root {
  --slide-padding: .5rem;
}

html {
  height: 100%;
  overflow: hidden;

  /* This is what all ``rem`` units for positioning are relative to.
   * Changing this basically zooms the page.
   * If you want to change the font size relative to the slide size,
   * set the font size for the body element. */
  font-size: 48px;
}

body {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body.loaded {
  /* The body tag is made transparent by its style attribute, so we
   * unfortunately need the ``!important`` here.
   * On DOM load, JavaScript adds the class ``loaded`` to the body.
   */
  opacity: 1 !important;
}

input,
button {
  vertical-align: middle;
}

slides > slide[hidden] {
  display: none !important;
}

slides {
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;

  /* 16:9 aspect ratio */
  width: 40rem;
  height: 22.5rem;
  margin-left: -20rem;
  margin-top: -11.25rem;
  overflow: visible;
}

slides > slide {
  position: absolute;
  display: none;

  height: 100%;
  width: 100%;

  padding: var(--slide-padding);
  overflow: hidden;
  box-sizing: border-box;

  font-size: .95rem;

  z-index: -100;
}

slides > slide.past,
slides > slide.next,
slides > slide.current {
  display: block;
}

slides > slide.far-past,
slides > slide.past {
  transform: translateX(-101%);
}

slides > slide.far-next,
slides > slide.next {
  transform: translateX(101%);
}

/* [1] TODO: ``slide:…:after`` probably not needed anymore once we use
 * the slide numbering provided by Hieroglyph instead of the slide
 * numbering provided by JavaScript. */
div.slide-footer,
div.slide-no {
  position: absolute;
  bottom: .25em;
  font-size: .4em;
}

div.slide-no {
  right: .25em;
}

div.slide-footer {
  width: 100%;
  text-align: center;
}

slides > slide > article:only-child {
  height: 100%;
}

slides > slide > article:only-child > iframe {
  height: 98%;
}

hgroup {
  display: table;
  width: 100%;
}

h1, h2, h3 {
  display: table-cell;
  height: 2.2em;
  margin: 0;
  padding-bottom: .3em;
  vertical-align: middle;

  font-weight: bold;
  letter-spacing: -.02em;
}

h1 {
  font-size: 3em;
  padding: 1em 0;
  text-align: right;
  line-height: 1.1;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

span.pre,
pre {
  font-family: 'Courier New', monospace;
  letter-spacing: -.05em;
}

span.pre {
  font-size: 1.1em;
  padding-left: .1em;
  padding-right: .1em;
}

pre {
  margin: .5em .25em;
  padding: .5em .25em;
  font-size: .6em;
}

iframe {
  width: 100%;
  height: 17em;
  box-sizing: border-box;
}

dt {
  font-weight: bold;
}

em {
  padding-right: .1em;
}

table {
  width: 100%;
  border-collapse: initial;
  border-spacing: .1em;
}

table tr > td:first-child, table th {
  font-weight: bold;
}

table td, table th {
  font-size: .8em;
  padding: 1em 0.5em;
}

table th {
  text-align: center;
}

q {
  font-size: 1.5em;
  line-height: 1.25em;
}

ul, ol {
  margin: 0;
}

ul {
  list-style-type: none;
  padding-left: 1em;
}

ol {
  /* This makes ``ol``s nested in ``ul``s indent as expected. */
  padding-left: 2em;
}

li, p.topic-title {
  line-height: 1.75em;
}

slide li li li {
  font-size: .8em;
}

slide li li li li {
  font-size: 1em;
}

slide li li li li li {
  font-size: .8em;
}

slide li li li li li li {
  font-size: 1em;
}

.quote::before,
q::before {
  content: '“';
  font-size: 2em;
  position: absolute;
  margin-left: -0.5em;
}

.quote::after,
q::after {
  content: '”';
  font-size: 2em;
  position: absolute;
  margin-left: 0.1em;
}

.note {
  position: absolute;
  z-index: 100;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 1em;
  opacity: 0;
  pointer-events: none;
  display: box !important;
  box-orient: vertical;
  box-align: center;
  box-pack: center;
  box-sizing: border-box;
}

.note > section {
  width: 60%;
  padding: 2em;
}

/* "with-nodes" is the class of the body of the presenter view */

.with-notes slides {
  top: -25%;
  margin-top: 0;
}

.with-notes slide {
  overflow: visible;
  pointer-events: none;
  border: 1px solid white;
}

.with-notes slide.past {
  display: block;
  transform: translateX(-101%) scale(.5);
}

.with-notes slide.current {
  transform: translateX(-24%) scale(.5);
}

.with-notes slide.next {
  transform: translateX(22%) scale(.4);
  opacity: .8;
}

.with-notes slide.far-next {
  display: block;
  transform: translate(58%, 0) scale(.3);
  opacity: .6;
}

.with-notes slide.next .note {
  display: none !important;
}

.with-notes .note {
  top: 65%;
  height: 30%;
  padding: 0;
}

.with-notes .note > section {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  overflow: auto;
  padding: 1em;
}

.with-notes .note {
  opacity: 1;
  pointer-events: auto;
}

body.overview {
  overflow-y: auto;
}

.overview slides {
  transform-origin: center 0;
}

.overview slides slide {
  display: inline-block;
  position: relative;
  transform: none;
  height: 30%;
  width: 30%;
  font-size: .3em;
  opacity: .8;
  cursor: pointer;
  pointer-events: auto !important;
}

.overview slides slide.current {
  opacity: 1;
}

.overview slides slide .build * {
  opacity: 1;
}


.overview .note {
  display: none !important;
}

div.topic {
  border: none;
  padding: 0;
  margin: 0;
}

div.figure {
  display: inline-block;
  margin: 0;
  padding: .25rem;
}

div.figure p.caption {
  margin: .5em 0 0 0;
  padding: 0;
  font-size: .8em;
}

img[src^="_images/math/"] {
  height: 1em;
}

/* Sometimes, this class shows up and causes ugly vertical margins */
p.first {
  margin-bottom: 0;
}

p.topic-title {
  font-size: 1em;
  font-weight: normal;
  margin: 0;
}

@media print {

  @page {
    size: 1600px 900px; /* chosen to fit slide dimensions */
    padding: 0;
    margin: 0;
  }

  body {
    overflow: visible;
  }

  /* prevents chrom(e|ium) from turning grays into black etc. */
  * {
    -webkit-print-color-adjust: exact;
  }


  /* We have to change the way we layout things a bit, so that page
   * breaks work as expected in the print view. A bit annoying.
   * Mainly, that means we declare the slide size on the <slide> instead
   * of on the <slides> tag. */
  slides {
    width: auto;
    height: auto;
    margin: 0;
    left: 0;
    top: 0;

    transform: none !important;
  }

  slides slide {
    display: block !important;

    /* 16:9 aspect ratio */
    width: 40rem;
    height: 22.5rem;

    position: relative;

    transform: none !important;
    transform-origin: top left;

    opacity: 1 !important;
    page-break-inside: avoid;
    page-break-inside: always;
  }

  slides slide .build * {
    opacity: 1 !important;
  }

  slides slide[hidden],
  slide.projector-test,
  slide.blackout,
  slide:empty {
    display: none !important;
  }

  pre, code {
    font-family: monospace !important;
  }
}

/**********************************************************************/
/* below, definitions you might use in your reStructuredText document */
/*                                                                    */

slide.fill {
  background-repeat: no-repeat;
  background-size: cover;
}

slide.blackout *,
slide.projector-test .slide-no,
slide.projector-test .slide-footer {
  opacity: 0;
}

slide.projector-test,
slide.projector-test .top,
slide.projector-test .left,
slide.projector-test .right,
slide.projector-test .bottom {
  padding: 0;
}

img.fill,
slide.fill img,
slide.fill iframe {
  position: absolute;
  left: 0;
  top: 0;
  min-width: 100%;
  min-height: 100%;
  border: 0;
  margin: 0;
  z-index: -1;
}

.strike-through {
  text-decoration: line-through;
}

.underline {
  text-decoration: underline;
}

.ref,
.top,
.left,
.right,
.bottom {
  display: inline-block;
  position: absolute;
}

.top {
  top: var(--slide-padding);
}

.left {
  left: var(--slide-padding);
}

.right {
  right: var(--slide-padding);
}

.bottom {
  bottom: var(--slide-padding);
}

.center {
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.background {
  z-index: -90; /* slide is -100 */
  padding: 0;
}

/* class ``reference`` already used by reStructuredText, unfortunately */
.ref {
  font-size: .6em;
  bottom: 0em;
  right: 0em;
  text-align: right;
}

.largest  {font-size: 3.0em;}
.larger   {font-size: 2.0em;}
.large    {font-size: 1.5em;}
.small    {font-size: 0.8em;}
.smaller  {font-size: 0.6em;}
.smallest {font-size: 0.4em;}

/* the .logo-banner probably needs some more tweaking */
ul.logo-banner {
  background-color: white;
  text-align: center;
  margin-bottom: .5em;
  margin-top: .5em;
  margin-left: -.5em;
  margin-right: -.5em;
}

ul.logo-banner > li {
  display: inline-block;
  padding-left: 0;
}

ul.logo-banner > li > img {
  height: 1em;
  max-width: 3em;
  padding: .4em .25em 0 .25em;
}

slide.no-title > hgroup {
  display: none;
}

slide.middle-title > hgroup {
  height: 100%;
}

slide.no-footer .slide-footer {
  display: none;
}

slide.no-slide-no .slide-no {
  display: none;
}
