/* TODO: merge this into another, existing CSS */

/* color scheme:

Non-colors::
  #000 black
  #757575 gray
  #fff white

Colors (in loose order of preference)::
  #018571 turquoise     – primary highlight
  #077cc0 blue          – secondary highlight
  #008837 green         – positive
  #c65301 orange/brown  – negative
  #eb0027 red           – drastic highlight

*/


slides.layout-widescreen {
  /* thanks to https://stackoverflow.com/a/20593342 */
  position: absolute;
  width: 100vw;
  max-width: 177.78vh; /* 16/9 = 1.778 */
  height: 56.25vw; /* height:width ratio = 9/16 = .5625  */
  max-height: 100vh;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

slides.layout-widescreen > slide {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 0;
}

slides > slide {
  font-family: Ubuntu, sans-serif;
  font-size: 2vw;
  background-color: black;
  color: #fff;

  border: 1px solid red;
}

.title-slide hgroup h1,
.title-slide hgroup h2,
h1, h2, h3, h4, h5, h6  {
  letter-spacing: -.02em;
  font-size: 4vw;
  color: #fff;
}

.title-slide hgroup h1 {
  font-size: 6vw;
}
.title-slide hgroup h2 {
  font-size: 2vw;
}

/* slide numbers */
slide.current::after {
  font-size: 1vw;
  color: #757575;
}
