/**
 * styles that define colors and other eye candy
 */

/* The dark color scheme uses the following colors:

Non-colors:
  #000 black
  #757575 gray
  #fff white

Colors:
  #018571 turquoise     – primary highlight
  #077cc0 blue          – secondary highlight
  #008837 green         – positive
  #c65301 orange/brown  – negative
  #eb0027 red           – drastic highlight

Note that all colors and the gray should work on a light background as
well. If you want a light version (say, for printing), inverting black
and white might be enough.
*/

@import url('https://fonts.googleapis.com/css?family=Ubuntu');

body {
  background: black;
  color: white;

  font-family: Ubuntu, sans-serif;
}

::selection {
  color: black;
  background-color: white;
  text-shadow: none;
}

* {
  /* The delay of .1s is a hack to delay the animation to run after
  possible DOM changes (for smoothness). */
  transition: all .4s ease .1s;
}

slides > slide:not(.title-slide)::after {
  color: #757575;

  /* there is also ``attr(data-total-slides)`` */
  content: attr(data-slide-num);
}

a {
  color: inherit;
  text-decoration: none;
  border-bottom: .01em solid while;
}

a:hover {
  color: inherit;
}

b {
  font-weight: bold;
}

q,
.quote {
  color: #757575;
}

pre,
code {
  font-family: 'Courier New', monospace;
}

iframe {
  background: white;
  border: .01em solid white;
}

:disabled {
  color: #757575;
}

table {
  border-bottom: .1em solid #757575
}

table tr:nth-child(odd) {
  background-color: #757575;
}

.note {
  border: .01em solid white;
  font-size: .6em;
  border-radius: .1em;
}

.with-notes.popup slide,
.overview slides slide {
  border: .01em solid white;
}

.overview .slide-area {
  display: none;
}

.black-text             {color:             black;}
.black-background       {color:             black;}
.gray-text              {color:             #757575;}
.gray-background        {color:             #757575;}
.white-text             {color:             white;}
.white-background       {color:             white;}
.turquoise-text         {color:             #018571;}
.turquoise-background   {background-color:  #018571;}
.highlight1-text        {color:             #018571;}
.highlight1-background  {background-color:  #018571;}
.blue-text              {color:             #077cc0;}
.blue-background        {background-color:  #077cc0;}
.highlight2-text        {color:             #077cc0;}
.highlight2-background  {background-color:  #077cc0;}
.green-text             {color:             #008837;}
.green-background       {background-color:  #008837;}
.positive-text          {color:             #008837;}
.positive-background    {background-color:  #008837;}
.orange-text            {color:             #c65301;}
.orange-background      {background-color:  #c65301;}
.negative-text          {color:             #c65301;}
.negative-background    {background-color:  #c65301;}
.red-text               {color:             #eb0027;}
.red-background         {background-color:  #eb0027;}
.drastic-text           {color:             #eb0027;}
.drastic-background     {background-color:  #eb0027;}

@media print {
  slides slide {
    background-color: white;
    color: black;
  }
}
