/**
 * This file contains definitions for colors, animations, styles that
 * you can use in your reStructuredText document and alike chrome.
 *
 * The definitions that make the overall placement of things can be found
 * in ``layout.css``.
 *
 * Definitions that you might use in your reStructuredText document
 * can be found at the end of this document.
 */


@import url('https://fonts.googleapis.com/css?family=Ubuntu');

/* dark color scheme
 *
 * Note that all colors and the gray should work on a light background as
 * well. If you want a light version (say, for printing), inverting black
 * and white might be enough.
 *
 *
*/
:root {

  /* aliases for theme colors */
  --black: #000;
  --gray: #757575;
  --white: #fff;
  --turquoise: #018571;
  --blue: #077cc0;
  --green: #008837;
  --orange: #c65301;
  --red: #eb0027;

  /* "semantic" aliases for theme colors */
  --highlight1: var(--turquoise);
  --highlight2: var(--blue);
  --positive: var(--green);
  --negative: var(--orange);
  --drastic: var(--red);

}

body {
  background: black;
  color: white;
  font-family: Ubuntu, sans-serif;
}

::selection {
  color: black;
  background-color: white;
  text-shadow: none;
}

*:not(slides) {
  /* The delay of .1s is a hack to delay the animation to run after
  possible DOM changes (for smoothness). */
  transition: all .333s ease 0s;
}

div.slide-footer,
div.slide-no {
  opacity: .5;
}

a {
  color: inherit;

  /* ``text-decoration-thickness`` is not well supported yet: https://developer.mozilla.org/en-US/docs/Web/CSS/text-decoration-thickness#browser_compatibility */
  text-decoration: none;
  border-bottom: .01em solid white;
}

a:hover {
  color: inherit;
}

b {
  font-weight: bold;
}

q,
.quote {
  opacity: .75;
}

pre,
code {
  font-family: 'Courier New', monospace;
}

iframe {
  background: transparent;
  border: none;
}

:disabled {
  opacity: .75;
}

table {
  border-bottom: .1em solid var(--gray)
}

table th {
  border: none;
}

table td, table th {
  /* chromium what's wrong with you… "important" should not be needed */
  border-bottom: none ! important;
}

/* make opacity decrease with level of nesting */
li > ul,
li > ol {
  opacity: .9; /* Or avg(.75; 1)? */
}

.note {
  border: .01em solid white;
  font-size: .6em;
  border-radius: .1em;
}

.with-notes slide,
.overview slides slide {
  border: .01em solid white;
}

/* when using classes ``build fade``, elements that are to be shown */
.build .to-build {
  opacity: 0;
}

/* when using classes ``build fade``, elements that were shown already */
.build .build-fade {
  opacity: .75;
}

.build .build-fade:hover {
  opacity: 1;
}

/* FIXME: "weaken" animations in presenter mode */
.with-notes .build .to-build {
  opacity: .75;
}
.with-notes .build .build.fade,
.with-notes .build .build-pfade {
  opacity: 1;
}

div.contents.topic {
  border: none;
}

/* hide first level (i.e., slide deck title) from contents */
div..contents > ul > li > *:not(ul) {
  display: none;
}

/**********************************************************************/
/* below, definitions you might use in your reStructuredText document */
/*                                                                    */

/* Assuming text colors are more often used than background colors, so
 * they have no suffix in order to be quicker to type */
.black                  {color:             black;}
.black-background       {color:             black;}
.gray                   {color:             var(--gray);}
.gray-background        {color:             var(--gray);}
.white                  {color:             white;}
.white-background       {color:             white;}
.turquoise              {color:             var(--turquoise);}
.turquoise-background   {background-color:  var(--turquoise);}
.highlight1             {color:             var(--turquoise);}
.highlight1-background  {background-color:  var(--turquoise);}
.blue                   {color:             var(--blue);}
.blue-background        {background-color:  var(--blue);}
.highlight2             {color:             var(--blue);}
.highlight2-background  {background-color:  var(--blue);}
.green                  {color:             var(--green);}
.green-background       {background-color:  var(--green);}
.positive               {color:             var(--green);}
.positive-background    {background-color:  var(--green);}
.orange                 {color:             var(--orange);}
.orange-background      {background-color:  var(--orange);}
.negative               {color:             var(--orange);}
.negative-background    {background-color:  var(--orange);}
.red                    {color:             var(--red);}
.red-background         {background-color:  var(--red);}
.drastic                {color:             var(--red);}
.drastic-background     {background-color:  var(--red);}

.bold {
  font-weight: bold;
}

.understate {
  opacity: .75;
}

.ref {
  opacity: .75;
}

.invert,
/* also invert colors of imgmath images */
img[src^="_images/math/"] {
  filter: invert(1);
}

/* puts text, in a stamp-like box in top right corner of slide */
.stamp {
  position: absolute;
  top: 0em;
  right: -.5em;
  padding: .25em 2em;
  transform: rotate(25deg);
  color: var(--turquoise);
  border: 0.1em dashed var(--turquoise);
}

/* show/hide content when presenting/printing */
.on-screen-only {
  display: initial;
}

.on-print-only {
  display: none;
}

/*                                                                    */
/* above, definitions you might use in your reStructuredText document */
/**********************************************************************/

@media print {

  * {
    transition: none;
  }

  slides slide {
    background-color: white;
    color: black;
  }

  img[src^="_images/math/"],
  div.highlight,
  .invert {
    filter: invert(0);
  }

  .on-screen-only {
    display: none;
  }

  .on-print-only {
    display: initial;
  }

}
