/**
 * This file contains definitions for colors, animations, styles that
 * you can use in your reStructuredText document and alike chrome.
 *
 * The definitions that make the overall placement of things can be found
 * in ``layout.css``.
 *
 * Definitions that you might use in your reStructuredText document
 * can be found at the end of this document.
 */

/* The dark color scheme uses the following colors:

Non-colors:
  #000 black
  #757575 gray
  #fff white

Colors:
  #018571 turquoise     – primary highlight
  #077cc0 blue          – secondary highlight
  #008837 green         – positive
  #c65301 orange/brown  – negative
  #eb0027 red           – drastic highlight

Note that all colors and the gray should work on a light background as
well. If you want a light version (say, for printing), inverting black
and white might be enough.
*/

@import url('https://fonts.googleapis.com/css?family=Ubuntu');

body {
  background: black;
  color: white;
  font-family: Ubuntu, sans-serif;
}

::selection {
  color: black;
  background-color: white;
  text-shadow: none;
}

*:not(slides) {
  /* The delay of .1s is a hack to delay the animation to run after
  possible DOM changes (for smoothness). */
  transition: all .333s ease 0s;
}

div.slide-footer,
div.slide-no {
  opacity: .5;
}

a {
  color: inherit;
  text-decoration: none;
  border-bottom: .01em solid while;
}

a:hover {
  color: inherit;
}

b {
  font-weight: bold;
}

q,
.quote {
  opacity: .75;
}

pre,
code {
  font-family: 'Courier New', monospace;
}

iframe {
  background: transparent;
  border: none;
}

:disabled {
  opacity: .75;
}

table {
  border-bottom: .1em solid #757575
}

table tr:nth-child(odd) {
  background-color: #75757530;
}

div.figure {
  border: 1px solid #757575;
}

/* make opacity decrease with level of nesting */
li > ul,
li > ol {
  opacity: .9; /* Or avg(.75; 1)? */
}

.note {
  border: .01em solid white;
  font-size: .6em;
  border-radius: .1em;
}

.with-notes slide,
.overview slides slide {
  border: .01em solid white;
}

/* when using classes ``build fade``, elements that are to be shown */
.build .to-build {
  opacity: 0;
}

/* when using classes ``build fade``, elements that were shown already */
.build .build-fade {
  opacity: .75;
}

.build .build-fade:hover {
  opacity: 1;
}

/* FIXME: "weaken" animations in presenter mode */
.with-notes .build .to-build {
  opacity: .75;
}
.with-notes .build .build.fade,
.with-notes .build .build-pfade {
  opacity: 1;
}

/**********************************************************************/
/* below, definitions you might use in your reStructuredText document */
/*                                                                    */

/* Assuming text colors are more often used than background colors, so
 * they have no suffix in order to be quicker to type */
.black                  {color:             black;}
.black-background       {color:             black;}
.gray                   {color:             #757575;}
.gray-background        {color:             #757575;}
.white                  {color:             white;}
.white-background       {color:             white;}
.turquoise              {color:             #018571;}
.turquoise-background   {background-color:  #018571;}
.highlight1             {color:             #018571;}
.highlight1-background  {background-color:  #018571;}
.blue                   {color:             #077cc0;}
.blue-background        {background-color:  #077cc0;}
.highlight2             {color:             #077cc0;}
.highlight2-background  {background-color:  #077cc0;}
.green                  {color:             #008837;}
.green-background       {background-color:  #008837;}
.positive               {color:             #008837;}
.positive-background    {background-color:  #008837;}
.orange                 {color:             #c65301;}
.orange-background      {background-color:  #c65301;}
.negative               {color:             #c65301;}
.negative-background    {background-color:  #c65301;}
.red                    {color:             #eb0027;}
.red-background         {background-color:  #eb0027;}
.drastic                {color:             #eb0027;}
.drastic-background     {background-color:  #eb0027;}

.bold {
  font-weight: bold;
}

.understate {
  opacity: .75;
}

.ref {
  opacity: .75;
}

.invert,
/* also invert colors of imgmath images */
img[src^="_images/math/"] {
  filter: invert(1);
}

/* puts text, in a stamp-like box in top right corner of slide */
.stamp {
  position: absolute;
  top: 0em;
  right: -.5em;
  padding: .25em 2em;
  transform: rotate(25deg);
  color: #018571;
  border: 0.1em dashed #018571;
}

/*                                                                    */
/* above, definitions you might use in your reStructuredText document */
/**********************************************************************/

@media print {

  * {
    transition: none;
  }

  slides slide {
    background-color: white;
    color: black;
  }

  img[src^="_images/math/"],
  div.highlight,
  .invert {
    filter: invert(0);
  }
}
